{% extends "base.html" %}
{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>Applicant Processing</h2>
				<div class="page_link">
					<a href="/">Home</a>
					<a href="/about-us">Application Process</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->
		
<!--================Screen Area =================-->
<section class="screen_area text-center p_120">
	<div id="start-of-process"  class="container">
		<div class="img-check" style="background-image:url('img/radial-bg.png')">
			<img src="assets/img/apply-process.png">
		</div>

		<div class="main_title">
			<h3 id="title-process">Application Sent!</h3>
			<p id="email-updates">Check your email for updates</p>
		</div>
		<div class="container-button">
			<form action="/">
				<button id="btn-home" class="btn btn-primary" >Back to home</button>
				<button id="btn-status" class="btn btn-light">Check Status</button>
			</form>
		</div>
	</div>
</section>
<!--================End Screen Area =================-->
{% endblock content %}