{% extends "base.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Business Permit</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/contact">Business Permit</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Contact Area =================-->
<form action = "/business-permit" method="POST" enctype="multipart/form-data">
    <div id="Page1">
        <div class="container">
            <div class="progbar">
                <div class="step current"><span>Fill Out Application Form</span></div>
                <div class="step"><span>Upload Required Documents</span></div>
                <div class="step"><span>Pay Regulatory Fees</span></div>
            </div>
        </div>
        <section class="contact_area p_120">
            <div class="container">
                <img id="gov-seal" src="assets/img/gov-seal.png">
                <p id="republic-of-ph">Republic of the Philippines
                    <br>Office of the Mayor
                    <br>Cebu City
                </p>
                <div class="container-instructions">
                    <h4>Instructions</h4>
                    <ol>
                        <li>Please provide accurate information to avoid delay.</li>
                        <li>Ensure that all uploaded documents are completely and properly filled out.</li>
                        <li><a href="#">Download</a> the necessary PDFs, fill up, and attach the scanned versions at the end of the form.</li>
                        <li>Name the uploaded files appropriately.</li>
                    </ol>
                </div>

                <hr>
                <div class="row">
                <div class="col-lg">
                    <label id="form-labels" for="form_apptype">Application Type</label>
                    <div class="form-select">
                        <select id="form-select" name="form_apptype">
                            <option value="New">New</option>
                            <option value="Renewal">Renewal</option>
                            <option value="Additional">Additional</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg">
                    <label id="form-labels" for="form_amend">Amendments</label>
                    <div class="form-select">
                        <select id="form-select" name="form_amend">
                            <option value="From Single to Partnership">From Single to Partnership</option>
                            <option value="From Single to Corporation">From Single to Corporation</option>
                            <option value="From Partnership to Single">From Partnership to Single</option>
                            <option value="From Partnership to Corporation">From Partnership to Corporation</option>
                            <option value="From Corporation to Single">From Corporation to Single</option>
                            <option value="From Corporation to Partnership">From Corporation to Partnership</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg">
                    <label id="form-labels" for="form_transfer">Transfer</label>
                    <div class="form-select">
                        <select name="form_transfer">
                            <option value="Location">Location</option>
                            <option value="Ownership">Ownership</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg">
                    <label id="form-labels" for="">Mode of payment</label>
                    <div class="form-select">
                        <select name="form_mop">
                            <option value="Annual">Annual</option>
                            <option value="Semi-Annually">Semi-Annually</option>
                            <option value="Quarterly">Quarterly</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 2nd row form -->
            <div class="row">
                <div class="col-sm-4">
                    <label id="form-labels" for="">Type of Organization</label>
                    <div class="form-select-2">
                        <select id="form-select" name="form_too">
                            <option value="Sole Proprietorship">Sole Proprietorship</option>
                            <option value="Partnership">Partnership</option>
                            <option value="Corporation">Corporation</option>
                            <option value="Cooperative">Cooperative</option>
                        </select>
                    </div>
                    <input class="form-check-input" id="stock" value="Non-Stock/Non-Profit" type="checkbox" name="form_too2"></input>
                    <label value="Non-Stock/Non-Profit" for="stock"></label><br>
                    <input class="form-check-input" id="proprietary" value="Proprietary" type="checkbox" name="form_too3"></input>
                    <label value="Proprietary" for="proprietary"></label>
                </div>
                <div class="col-sm-4">
                    <label id="form-labels" for="">CTC Number &emsp;&emsp;&emsp;</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_ctc">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label id="form-labels" for="">Tin Number &emsp;&emsp;&emsp;</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_tin">
                    </div>
                </div>
            </div>
            <!-- 3nd row form -->
            <div class="row">
                <div class="col-sm-8">
                        <label id="form-labels" for="">DTI/SEC/CDA REGISTRATION NUMBER</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="form_dti">
                    </div>
                </div>
                <div class="col-sm-4">
                        <label id="form-labels" for="">D.O.R</label>
                        <div class="form-group">
                            <input class="form-control" type="date" name="form_dor">
                        </div>
                </div>
            </div>
            <!-- 4th row form -->
            <div class="row">
                <div class="col-sm-8">
                        <label id="form-labels" for="">Name of tax payer</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_notp" placeholder="Last Name        First Name              Middle Name">
                    </div>
                </div>
                <div class="col-sm-4">
                        <label id="form-labels" for="">Business Name</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="form_bn">
                        </div>
                </div>
            </div>
            <!-- 5th row form -->
            <div class="row">
                <div class="col-sm-8">
                        <label id="form-labels" for="">Name of president/treasurer of corporation</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_nopres" placeholder="Last Name        First Name              Middle Name">
                    </div>
                </div>
                <div class="col-sm-4">
                        <label id="form-labels" for="">tradename/franchise name</label>
                        <div class="form-group">
                            <input class="form-control"name="form_tn"  type="text">
                        </div>
                </div>
            </div>
            <!-- 6th row form -->
            <div class="row">
                <div class="col-sm-12">
                        <label id="form-labels" for="">Complete business Address</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_cba" placeholder="House No/Building No.        Street              Barangay">
                    </div>
                </div>
            </div>
            <!-- 7th row form-->
            <div class="row">
                <div class="col-sm-12">
                        <label id="form-labels" for="">Complete owner's Address</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_coa" placeholder="House No/Building No.        Street              Barangay">
                    </div>
                </div>
            </div>
            <!-- 8th row form -->
            <div class="row">
                <div class="col-sm-3">
                    <label id="form-labels" for="">Contact number &emsp;</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_contact">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label id="form-labels" for="">Business Area &emsp;&emsp;</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_ba" placeholder="In square meters">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label id="form-labels" for="">Place of Business</label>
                    <div class="form-select-2" style="width:100%;">
                        <select name="form_pob">
                            <option value="Rented">Rented</option>
                            <option value="Owned"> Owned</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label id="form-labels" for="">Monthly Rental &nbsp; </label>
                    <input class="form-control" name="form_mr" type="text">
                </div>
                        
                <!-- Number of employees and machineries -->
                <div class="row">
                    <!-- Number of Employees -->
                    <div class="col-lg">
                        <div class="container-number-of-emp">
                            <h4>Number of Employees</h4>
                            <div class="emp-group">
                                <input type="text" name="form_noofm">
                                <span>Manager</span>
                            </div>
                            <div class="emp-group">
                                <input type="text" name="form_noofs">
                                <span>Supervisor</span>
                            </div>
                            <div class="emp-group">
                                <input type="text" name="form_noofc">
                                <span>Cashier</span>
                            </div>
                            <div class="emp-group">
                                <input type="text" name="form_noofrf">
                                <span>Rank & File</span>
                            </div>
                        </div>
                    </div>
                    <!-- Number of Machineries -->
                    <div class="col-lg">
                        <div class="container-number-of-emp">
                            <h4>Number of Machines</h4>
                            <div class="emp-group">
                                <input type="text" name="form_noofel">
                                <span>Elevator</span>
                            </div>
                            <div class="emp-group">
                                <input type="text" name="form_noofes">
                                <span>Escalator</span>
                            </div>
                            <div class="emp-group">
                                <input type="text" name="form_noofac">
                                <span>Air Conditioner</span>
                            </div>
                            <div class="emp-group">
                                <input type="text" name="form_noofcctv">
                                <span>CCTVs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 9th row form -->
            <div class="row">
                <div class="col-sm-6">
                        <label id="form-labels" for="">Lessor's Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_lessorname" placeholder="Last Name        First Name              Middle Name">
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <label id="form-labels" for="" style="font-size: 13px;">Area of signboard / Billboard</label>
                    <div style="display:flex;">
                        <input class="form-control" type="text" name="form_areabb" placeholder="In square meters" style="width:43%">
                        <label>&emsp;&emsp;</label>
                        <div class="form-select-2" style="width:50%;">
                            <select name="form_lights">
                                <option value="With Light" >With Light</option>
                                <option value="Without Light">Without Light</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 10th row form-->
            <div class="row">
                <div class="col-sm-12">
                        <label id="form-labels" for="">Lessor's Address</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form_lessorad" placeholder="House No/Building No.                                              Street                                                                           Barangay                                         City/Municipality">
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div style="display: block; margin-left: auto;margin-right: auto;">
                    <a onclick="return show('Page2','Page1','Page3');" style="background-color: #616193; color:white;" class="btn btn-lg" type="submit">NEXT</a>
                </div>
            </div> 
            </div>
        </section>
    </div>
    <div id="Page2" style="display:none">
        <div class="container">
            <div class="progbar">
                <div class="step done"><span>Fill Out Application Form</span></div>
                <div class="step current"><span>Upload Required Documents</span></div>
                <div class="step"><span>Pay Regulatory Fees</span></div>
            </div>
        </div>
        <section class="contact_area p_120">
            <div class="container">
                    <img id="gov-seal" src="assets/img/gov-seal.png">
                    <p id="republic-of-ph">Republic of the Philippines
                        <br>Office of the Mayor
                        <br>Cebu City
                    </p>
                <div class="container-instructions doc">
                    <h4>Instructions</h4>
                    <li>Drag and drop the needed documents on the spaces provided.</li>
                </div>     
                    
                <hr>
                <div class="row">
                    <ul>
                        <li>Certificate of Prop Holdings <input type="file"></li>
                        <li>Occupational Permit <input type="file"></li>
                        <li>Old Business Permit <input type="file"></li>
                        <li>Contract of Lease <input type="file"></li>
                        <li>CCENRO Certificate <input type="file"></li>
                        <li>Barangay Clearance <input type="file"></li>
                        <li>Sanitary Permit <input type="file"></li>
                        <li>Barangay Clearance OR <input type="file"></li>
                        <li>Fire and Safety Inspection Cert. <input type="file"></li>
                    </ul>
                </div>
                <div class="row">
                    <div style="display: block; margin-left: auto;margin-right: auto; width:300px;">
                        <label id="form-labels" for="">Email</label>
                        <div class="form-group">
                            <input required class="form-control" type="email" placeholder="your-email@mail.com" name="form_email">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div style="display: block; margin-left: auto;margin-right: auto; width:300px;">
                            <label id="form-labels" for="">Phone Number</label>
                            <div class="form-group">
                                <input required class="form-control" type="text" placeholder="+63 |" name="form_phone">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div style="display: block; margin-left: auto;margin-right: auto;">
                    <a onclick="return show('Page1','Page2','Page3');" style="background-color: #616193; color:white;" class="btn btn-lg" type="submit">BACK</a>
                    <input style="background-color: #616193; color:white;" class="btn btn-lg" type="submit" value="SUBMIT">
                    <!-- <a onclick="return show('Page3','Page1','Page2');" style="background-color: #616193; color:white;" class="btn btn-lg" type="submit">NEXT</a> -->
                </div>
            </div>
        </section>
    </div>
</form>

    <!-- <div id="Page3" style="display:none">
        <div class="container">
            <div class="progbar">
                <div class="step done"><span>Fill Out Application Form</span></div>
                <div class="step done"><span>Upload Required Documents</span></div>
                <div class="step current"><span>Pay Regulatory Fees</span></div>
            </div>
        </div>
        <section class="contact_area p_120">
            <div class="container">
                <div class="row">
                    TEST VALUE: <input type="text" name="form_test">
                </div>  
            </div>
            <div class="row">
                <div style="display: block; margin-left: auto;margin-right: auto;">
                    <a onclick="return show('Page2','Page1','Page3');" style="background-color: #616193; color:white;" class="btn btn-lg" type="submit">BACK</a>
                    <input style="background-color: #616193; color:white;" class="btn btn-lg" type="submit" value="SUBMIT">
                </div>
            </div>
        </section>
    </div> -->
<script src="assets/js/BPpages.js"></script>
{% endblock content %}
        